* {box-sizing: border-box; cursor: inherit;}
:root {
  --tan: #E1DBCD;
  --red: #e32027;
  --peach: #F4AB8D;
  --gold: #a7865d;
  --color-1: #eb4730;
    --color-2: #f6cacf;
    --color-3: #f4ab8d;
}
@font-face {font-family: 'Armoire'; src: url('../assets/fonts/ArmoireVFWeb-VariableVF.woff');}

@font-face {font-family: 'Reckless-Reg'; src: url('../assets/fonts/Reckless-Reg.woff'); font-weight: 100;}
html { overflow-x: hidden; background-color: var(--tan); }
body { overflow-x:hidden; min-height: 100vh; overflow-y: scroll; background-image: url('../assets/texture.jpg'); background-size: 100% 100%; background-attachment: fixed; -webkit-animation:fade-in 2.5s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 2.5s cubic-bezier(.39,.575,.565,1.000) both  }
.content-container { width: 100vw; min-width: 100vw; max-width: 100vw;  }
.inner-content-container {width: 90vw; margin: 0 5vw; max-width: 1000px; padding: 0px 25px;}
.custom-bg-region {background-size: 100%; background-position: center -15px; background-repeat:repeat-y; background-attachment: fixed;}
h1 {font-family: 'Armoire', sans-serif; text-transform: uppercase; font-size: 48px;}
h2 {font-family: 'Reckless-Reg', serif; font-weight: 600; font-size: 28px}
h2 span {text-decoration: none!important; color: var(--red)}
h3 span {text-decoration: none!important; color: var(--red)}
h3 strong em {color: var(--red); text-decoration: none!important;}
h3 {font-family: 'Reckless-Reg', serif; font-weight: 600; font-size: 28px;}

h5 {font-family: 'Reckless-Reg', serif; font-weight: 600; font-size: 18px;}
h6 {font-size: 14px; font-weight: 800; line-height: 18px; padding: 0px; margin: 0px; font-family: 'Armoire', sans-serif; padding: 10px 0px; text-transform: uppercase;}

p {font-family: 'Reckless-Reg', serif; font-size: 18px; text-align: justify;}
 
p a {font-size: 16px;}
p a:hover {text-decoration: underline;} 
p span {color: var(--red); text-decoration: none!important;}

.red-text {color: var(--red)!important;}
.light-weight {font-weight: 100!important;}
// SQS blocjks
.image-subtitle-wrapper p{font-size: 18px; font-family: 'Reckless-Reg', sans-serif!important;}
.image-subtitle-wrapper p span {color: var(--red); text-decoration: none!important;}
.image-subtitle-wrapper p a {color: var(--red)!important}
.sqs-block-image .design-layout-card .image-card-wrapper {background-color: unset!important;}

header {width: 100%;}
#headerImg {pointer-events: none; max-width: 250px; max-height: 250px;}
.site-header {margin-top: 100px;}
.site-header h1 {text-align: center; padding: 0px 20px}
.header-icon-container {height: 250px; width: 250px; object-fit: contain; border: 1px solid red;}
.header-icon-container img {width: 100%;}
.header-title {margin: 25px; text-align: center;}
.stamp-container {margin: 25px;}
.logo {max-height: 30px;}
.nav-blank-space {height: 30px; width: 50px;}
#nav-menu-list {display: none; height: 100vh; padding: 10px; position: fixed; top: 0; left: 0; min-width: 200px; overflow: hidden; background-image: url('../assets/red-texture.png'); background-size: contain;  box-shadow:inset -2px -2px 4px rgba(0,0,0,0.25); }
#site-navigation-wrapper {width: 100vw; top: 0; padding: 15px; position: fixed; background-size: 100vw 100vh; z-index: 300000; background-image: url('../assets/texture.jpg'); background-repeat: no-repeat; background-position: 0% 0%; }
.site-navigation-list {padding: 0px; margin: 0px;}
.site-navigation-item {list-style-type: none; padding: 3vh 40px 3vh 10px; cursor: pointer;}
.site-navigation-item a {font-family: 'Armoire', sans-serif; font-size: 18px; color: white; opacity: 0.9; text-decoration: none; text-transform: uppercase; font-weight: 100;}
.site-navigation-item a:hover {font-weight: 900; transform: scale(1.01); opacity: 1;}

.site-navigation-footer .home-navigation-item {color: white;}

.active-link a {text-decoration: underline;}
#hamburger { width: 50px; cursor: pointer; }
#hamburger img {margin-bottom: 6px;}

.hamburger-x img:nth-child(2){display: none;}
.hamburger-x img:nth-child(1) {transform: rotate(45deg); position: absolute;}
.hamburger-x img:nth-child(3) {transform: rotate(-45deg); position: absolute;}

// HOME
#homeBody {min-height: 600px; height: 100vh; overflow-y: scroll;}
#homepage-nav {margin: 50px; height: 40vh; }
.home-wrapper {height: 100%; width: 100vw;}
.home-logo-wrapper {max-width: 200px; max-height: 30vh;}
.home-logo-wrapper img {width: 100%;}
.column-icon {height: 15px; padding: 0px 10px;}
.sub-title {font-size: 36px;}
.home-navigation-list {padding: 0px; margin: 0px;}
.home-navigation-item {list-style-type: none; padding: 10px 0px;}
.home-navigation-item, a {font-family: 'Armoire', sans-serif; font-weight: 600; color: var(--red); font-size: 24px; text-decoration: none; text-transform: uppercase;}

.home-navigation-item:hover {text-decoration: underline;}
.home-bottom-item {font-size: 16px; text-align: center;}

@media screen and (max-width: 750px)  {
  .header-icon-container {height: 175px;}
}

// BASIC SETTINGS
.hover {cursor: pointer!important;}
.hover:hover {transform: scale(1.01); cursor: pointer;}
.flex-center-center {display: flex; align-items: center; justify-content: center;}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between;}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start;}
.flex-center-end {display: flex; align-content: space-between; align-items: center; justify-content: flex-end;}
.flex-start-center {display: flex; align-items: flex-start; justify-content: center;}
.flex-start-spacebetween {display: flex; align-items: flex-start; justify-content: space-between;}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start;}
.flex-start-end {display: flex; align-items: flex-start; justify-content: flex-end;}

.flex-wrap {flex-wrap: wrap;}
.flex-column {flex-direction: column;}
.flex-column-reverse {flex-direction: column-reverse;}
.sqs-layout > .sqs-row {margin: 0;}
.pill {padding: 5px 10px; background-color: var(--peach); border-radius: 25px;}
main {padding: 0px 20px;  max-width: 1000px;}
.sqs-block {margin: 0px 0px 50px;}

// BUTTONS 
.sqs-block-button .sqs-block-button-element {background-color: var(--red); margin-top: 15px;}
.sqs-block-button .sqs-block-button-element--medium {background-color: none!important;}
.sqs-block-button .sqs-block-button-element {font-family: 'Armoire', sans-serif!important;}
button {border: 0px; padding: 10px 20px; font-family: 'Armoire', sans-serif!important;}
.button .sqs-system-button .sqs-editable-button .sqs-button-element--primary {
  border: 0px; padding: 10px 20px; font-family: 'Armoire', sans-serif!important;
}
.sqs-editable-button {font-family: 'Armoire', sans-serif!important; background-color: var(--red)!important; padding: 10px 20px!important; }
.tan-button {background-color: var(--tan); color: black!important;}
.tan-button a {color: black!important;}


@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
  

  
}

.mobile-break {display: block;}
@media screen and (max-width: 600px)  {
  .mobile-break { display: none; }
  h1 {font-size: 36px;}
  h2 {font-size: 24px;}
  h3 {font-size: 24px!important;}
  
}

 


// EXHIBITIONs
#exhibitions-list {width: 90vw; max-width: 1000px;}
#events-list {margin-top: -50px; }
.frames-container {width: 100%;}
.frames-container img {height: 100px;}
#noExhibitions { text-align: center; padding: 10px; margin: 20px 50px; background-color: rgba(255,255,255,0.15)}

.current {order: -1;}

@media screen and (max-width: 750px)  {
  .exhibition-details {flex-direction: column; justify-content: flex-start!important;}
  .exhibition-container {justify-content: flex-start!important; align-items: flex-start!important;}
  .exhibition-details-body {margin-left: 0px!important;}
  .exhibition {padding: 0px 10px!important; margin: 10px 0px!important;}
  
  #events-list {padding: 10px!important; margin-top: -60px!important;}
  .exhibition-content {padding: 0px;} 
}

.exhibitions-panel h5 {color: gray;}
.active-cat {color: var(--red)!important}
.exhibition h3 {padding: 0px; margin: 0;}
.exhibition h3:hover {text-decoration: underline; cursor:pointer}
.exhibition-details-body {width: 100%; margin-left: 25px;}
.exhibition {display: none; padding: 10px; margin: 20px 50px; width: 90%; background-color: rgba(255,255,255,0.15) }
.exhibition-content {padding: 20px;}


.show-event {display: block;}

.artist-tags-wrapper {padding: 20px 0px;}
.artist-tag {margin: 5px; color: black; border: 0.1px solid rgba(0,0,0,0.25); font-size: 12px; padding: 5px 10px; }
.artist-tag:hover {background-color: var(--gold); color: white;}


.exhibition-details-date h6 {text-align: center;}
.exhibition-details-image-container {width: 350px; height: 452px; background-image: url('../assets/frame3.png'); background-size: contain; background-repeat: no-repeat;  }
.mask1 {
  -webkit-mask-image: url('../assets/frame3-mask.png');
  mask-image: url('../assets/frame3-mask.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
  mask-size: contain;
  margin: 40px 35px;
  
}
.masked-image {width: auto; height: 374px; width: 283px; object-fit: cover; }

.exhibition-type-label {color: black; font-weight: 400; line-height: 24px; padding:2px 2px 0px 0px;  font-size: 18px;}

// ARTISTS
#artistList {display: flex; flex-flow: column wrap; align-content: flex-start; max-width: 1000px; width: 100%; }
.artist-frame {margin: 1%; width: 23%;  border: 3px solid black; background-color: white;}
.artist-frame:hover p {font-weight: 700;}
.artist-frame p {text-align: center;}
.artist-frame img {pointer-events: none;}

#popUpWindow {height: 100vh; width: 100vw; position: fixed; top: 0; z-index: 400000000; background: red;}

// Press page
#pressList{ margin: 20px; width: 100vw; max-width: 1000px; flex-wrap: wrap;}
.press-frame {border: 1px solid rgba(0,0,0,0.5); background-color: white; width: 100%; margin: 1%;  }
.press-frame:hover .press-info {display: block;}
.press-info {width: 100%; cursor: pointer; overflow-y: hidden; background: white; padding: 20px; display: none; height: 100%;}
.press-info i p {text-align: center!important; font-size: 16px; line-height: 18px;}

@media screen and (max-width: 750px)  {
  .press-frame {min-width: 300px; min-height: 300px;}
}

// BOOK 
.step-pane {background-color: none!important; border: 0px solid black!important;}


// CALENDAR
#calendarWrapper { max-width: 1100px}
#month-list {margin-bottom: 25px;  }
th, td {padding: 2px;}
.month-label {padding: 15px 20px 10px; font-size: 18px; cursor: pointer;}
.active-month-label {background-image: url('../assets/circled-event-1.png'); background-size: 100% 100%; background-repeat: no-repeat; background-position: center center;}
.textured-bg { background-image: url('../assets/texture.jpg');background-size: 100vw 100vh; background-position: center 10vh; background-attachment: fixed;}
td {width: 100px; height: 100px; }
.date-cell { height: 100%; width: 100%; padding: 5px; opacity: 0.25; min-height: 120px; max-height: 150px; max-width: 150px; overflow: hidden;}
.dead-date {opacity: 0.25; height: 100%; width: 100%;}

.cal-color-1 {background-color: var(--color-1);}
.cal-color-2 {background-color: var(--color-2);}
.cal-color-3 {background-color: var(--color-3);}

.hidden-calendar-table {display: none;}
.active-calendar-table {display: block!important;}
.has-event {opacity: 1;}
.event-details p {font-size: 12px; text-align: left!important;}



// CONTACT PAGE
.contact-header {width: 100vw; min-height: 550px; padding: 20px; margin-top: 100px;  background-image: url('../assets/soho-v2.png'); background-size: contain; background-repeat: no-repeat; background-position: 0% 25px;}
.contact-details {width: 100%; padding: 0px 10px; margin-top: 200px; background-image: url('../assets/texture.jpg'); background-size: 100vw 100vh; background-position: 65% 30%; background-attachment: fixed; }

#contact-title {width: 100%;text-align: center; height: 100%;}

@media screen and (max-width: 550px)  {
  .contact-header {background-size: 130%; background-position: 0% 50px; flex-direction: column; justify-content: flex-start!important; }
  #contact-container {flex-direction: column; align-items: flex-start!important;}
  #contact-title { text-align: center;}
  .contact-details {width: 100%; margin-top: 75vw;}
  
}

// BLOCKQUOTE 
.quote-block {display: flex; align-items: center; justify-content: center;}
.sqs-block-quote .sqs-block-content { max-width: 600px; margin: 25px 0px;}
blockquote span {display: none;}
.quote-block .sqs-block-content figure {background-image: url(''); background-size: 100% 100%; background-position: center center; background-repeat: no-repeat; }
blockquote {font-family: 'Reckless-Reg', sans-serif; font-weight: 600; color: var(--red)!important;  font-size: 22px; padding:3.5rem; text-align: center; }
figcaption {display: none;}

@media screen and (max-width: 750px)  {
  blockquote {font-size: 18px; padding: 3rem 2.5rem;}
}

// GALLERY
.sqs-gallery-controls {
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;

}
[class*="sqs-col"] .sqs-block {padding: 0;}
.spacer-block {padding: 30px!important;}
.sqs-gallery-controls .previous {
  position:relative; background-color: rgba(0,0,0,0); 
  width: 75px; margin: 0px 10px;
}
.show-hover-effect:hover {transition: none;}
.previous:hover {cursor: pointer; transform: scale(1.1); background-color: rgba(0,0,0,0)!important; }
.next:hover {cursor: pointer; transform: scale(1.1); background-color: rgba(0,0,0,0)!important;}
.sqs-gallery-controls .next { width: 75px; margin: 0px 10px;
  position:relative; background-color: rgba(0,0,0,0); transition: 'background-color 200ms linear';
}
.previous {order: 1; }
.next {order: 2;}

.sqs-gallery-meta-container { 
 height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sqs-block-gallery {min-height: 550px; }
.sqs-block-gallery .sqs-intrinsic {padding-bottom: 70%!important; margin-bottom: 75px;}
.sqs-image-shape-container-element img {object-fit: unset!important; width: auto!important;}


.sqs-gallery-controls .next::before {
  content: url('../assets/next.png');
}
.sqs-gallery-controls .previous::before {
  content: url('../assets/prev.png');
}

@media screen and (max-width: 750px)  {
  .sqs-block-gallery .sqs-intrinsic {padding-bottom: 100%!important;  margin-bottom: 0px;}
  .sqs-block-gallery {min-height: 450px;}
}

// FOOTER
footer .sqs-block {margin: 0px 0px 0px;}
footer { background-image: url('../assets/red-texture.png'); box-shadow:inset 2px 2px 4px rgba(0,0,0,0.5); background-size: 100% 100%; color: white!important; margin-top: 50px; padding: 50px 25px; width: 100vw;}
#de-link {font-size: 12px; font-family: 'Reckless-Reg', sans-serif; text-align: center!important; color: rgba(255,255,255,0.5); text-decoration: none; margin: 10px 0px; text-transform:none}
footer p {font-size: 16px; margin: 10px 0px 0px 0px; text-align: center;}
footer .sqs-editable-button {background-image: url('../assets/stamp-with-words.png'); color: rgba(0,0,0,0)!important; background-size: 95% 95%; background-repeat: no-repeat; margin: 20px; background-position: center center; background-color: var(--tan)!important;  padding: 40px 0px!important;}
footer .sqs-editable-button:hover {transform: scale(1.1); cursor: pointer;}
.sqs-modal-lightbox-content {left: 0;}
.form-title {text-align: center;}
.footer-mailer {  background-size: 100% 90%; background-position: center 20px; background-repeat: no-repeat;width: 100%; }


// ANIMATIONS 
.fade-in-left{-webkit-animation:fade-in-left .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-left .6s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in-left{
  0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}
  100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
}

  @keyframes fade-in-left{
    0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}
    100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
  }

  .fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
  /* ----------------------------------------------
 * Generated by Animista on 2023-7-16 21:42:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}