* {box-sizing: border-box;}
:root {
  --tan: #E1DBCD;
  --red: #e32027;
  --peach: #F4AB8D;
  --gold: #a7865d;
  --color-1: #eb4730;
    --color-2: #f6cacf;
    --color-3: #f4ab8d;
}
@font-face {font-family: 'Armoire'; src: url('../assets/fonts/ArmoireVFWeb-VariableVF.woff');}

@font-face {font-family: 'Reckless-Reg'; src: url('../assets/fonts/Reckless-Reg.woff'); font-weight: 100;}
html { overflow-x: hidden; min-height: 100vh;  }
body { height: 100%; overflow-x:hidden; background-image: url('../assets/texture.jpg'); background-size: cover; }
.content-container { width: 100vw; min-width: 100vw; min-height: 100vh; }
.inner-content-container {width: 90vw; margin: 0 5vw; max-width: 1000px; padding: 0px 25px;}
.custom-bg-region {background-size: 100%; background-position: center top; background-repeat:repeat-y}
h1 {font-family: 'Armoire', sans-serif; text-transform: uppercase; font-size: 48px;}
h2 {font-family: 'Reckless-Reg', serif; font-weight: 600; font-size: 28px}
h3 {font-family: 'Reckless-Reg', serif; font-weight: 600; font-size: 28px;}

h5 {font-family: 'Reckless-Reg', serif; font-weight: 600; font-size: 18px;}
h6 {font-size: 14px; font-weight: 800; line-height: 18px; padding: 0px; margin: 0px; font-family: 'Armoire', sans-serif; padding: 10px 0px; text-transform: uppercase;}

p {font-family: 'Reckless-Reg', serif; font-size: 18px; text-align: justify;}
 
p a {font-size: 18px;}
p a:hover {text-decoration: underline;} 
p span {color: var(--red); text-decoration: none!important;}

.red-text {color: var(--red)!important;}
.light-weight {font-weight: 100!important;}
// SQS blocjks
.image-subtitle-wrapper p{font-size: 18px; font-family: 'Reckless-Reg', sans-serif!important;}
.image-subtitle-wrapper p span {color: var(--red); text-decoration: none!important;}
.image-subtitle-wrapper p a {color: var(--red)!important}
.sqs-block-image .design-layout-card .image-card-wrapper {background-color: unset!important;}

header {width: 100%;}
.site-header {margin-top: 100px;}
.site-header h1 {text-align: center; padding: 0px 20px}
.header-icon-container {height: 250px; width: 100%; background-position: center center; background-size: contain; background-repeat: no-repeat;}
.header-title {margin: 25px; text-align: center;}
.stamp-container {margin: 25px;}
.logo {max-height: 30px;}
.nav-blank-space {height: 30px; width: 50px;}
#nav-menu-list {display: none; height: 100vh; padding: 10px; position: fixed; top: 0; left: 0; min-width: 200px; overflow: hidden; background-image: url('../assets/red-texture.png'); background-size: contain;  box-shadow:inset -2px -2px 4px rgba(0,0,0,0.25); }
#site-navigation-wrapper {width: 100vw; top: 0; padding: 15px; position: fixed; background-size: cover; z-index: 300000; background-image: url('../assets/texture.jpg'); background-repeat: no-repeat; }
.site-navigation-list {padding: 0px; margin: 0px;}
.site-navigation-item {list-style-type: none; padding: 20px 40px 20px 10px;}
.site-navigation-item a {font-family: 'Armoire', sans-serif; font-size: 18px; color: white; text-decoration: none; text-transform: uppercase;}
.site-navigation-item a:hover {font-weight: 900; transform: scale(1.01)}

.site-navigation-footer .home-navigation-item {color: white;}

.active-link a {text-decoration: underline;}
#hamburger { width: 50px; }
#hamburger img {margin-bottom: 6px;}

.hamburger-x img:nth-child(2){display: none;}
.hamburger-x img:nth-child(1) {transform: rotate(45deg); position: absolute;}
.hamburger-x img:nth-child(3) {transform: rotate(-45deg); position: absolute;}

#homepage-nav {margin: 50px; height: 40vh;}
.home-navigation-list {padding: 0px; margin: 0px;}
.home-navigation-item {list-style-type: none; padding: 10px 0px;}
.home-navigation-item, a {font-family: 'Armoire', sans-serif; font-weight: 600; color: var(--red); font-size: 24px; text-decoration: none; text-transform: uppercase;}

.home-navigation-item:hover {text-decoration: underline;}
.home-bottom-item {font-size: 16px; text-align: center;}

@media screen and (max-width: 750px)  {
  .header-icon-container {height: 175px;}
}

// BASIC SETTINGS
.hover:hover {transform: scale(1.01); cursor: pointer;}
.flex-center-center {display: flex; align-items: center; justify-content: center;}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between;}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start;}
.flex-center-end {display: flex; align-content: space-between; align-items: center; justify-content: flex-end;}
.flex-start-center {display: flex; align-items: flex-start; justify-content: center;}
.flex-start-spacebetween {display: flex; align-items: flex-start; justify-content: space-between;}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start;}

.flex-wrap {flex-wrap: wrap;}
.flex-column {flex-direction: column;}
.sqs-layout > .sqs-row {margin: 0;}
.pill {padding: 5px 10px; background-color: var(--peach); border-radius: 25px;}
main {padding: 0px 50px;  max-width: 1000px;}
.sqs-block {margin: 0px 0px 50px;}
// BUTTONS 
.sqs-block-button .sqs-block-button-element {background-color: var(--red); margin-top: 15px;}
.sqs-block-button .sqs-block-button-element--medium {background-color: none!important;}
.sqs-block-button .sqs-block-button-element {font-family: 'Armoire', sans-serif!important;}
button {border: 0px; padding: 10px 20px;}

.tan-button {background-color: var(--tan); color: black!important;}
.tan-button a {color: black!important;}
@media screen and (max-width: 1000px) {
  #site-navigation-wrapper {background-size: 100%;}

}

@media screen and (max-width: 640px) {
  @import 'sqs-grid-breaker';
  

  
}

.mobile-break {display: block;}
@media screen and (max-width: 600px)  {
  .mobile-break { display: none; }
  h1 {font-size: 36px;}
  h2 {font-size: 24px;}
  h3 {font-size: 24px!important;}
  
}

// EXHIBITIONs
#exhibitions-list {width: 90vw; max-width: 1000px;}
#events-list {margin-top: -50px; }
.frames-container {width: 100%;}
.frames-container img {height: 100px;}

@media screen and (max-width: 750px)  {
  .exhibition-details {flex-direction: column; justify-content: flex-start!important;}
  .exhibition-container {justify-content: flex-start!important; align-items: flex-start!important;}
  .exhibition-details-body {margin-left: 0px!important;}
  .exhibition {padding: 0px 10px!important; margin: 10px 25px!important;}
  
  #events-list {padding: 10px!important; margin-top: -60px!important;}
  .exhibition-content {padding: 0px;} 
}

.exhibitions-panel h5 {color: gray;}
.active-cat {color: var(--red)!important}
.exhibition h3 {padding: 0px; margin: 0;}
.exhibition h3:hover {text-decoration: underline; cursor:pointer}
.exhibition-details-body {width: 100%; margin-left: 25px;}
.exhibition {display: none; padding: 10px; margin: 20px 50px; background-color: rgba(255,255,255,0.15) }
.exhibition-content {padding: 20px;}


.show-event {display: block;}

.artist-tags-wrapper {padding: 20px 0px;}
.artist-tag {margin: 5px; color: black; border: 0.1px solid rgba(0,0,0,0.25); font-size: 12px; padding: 5px 10px; }
.artist-tag:hover {background-color: var(--gold); color: white;}


.exhibition-details-date h6 {text-align: center;}
.exhibition-details-image-container {width: 350px; height: 452px; background-image: url('../assets/frame3.png'); background-size: contain; background-repeat: no-repeat;  }
.mask1 {
  -webkit-mask-image: url('../assets/frame3-mask.png');
  mask-image: url('../assets/frame3-mask.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
  mask-size: contain;
  margin: 40px 35px;
  
}
.masked-image {width: auto; height: 374px; width: 283px; object-fit: cover; }

.exhibition-type-label {color: black; font-weight: 400; background-color: rgba(255,255,255,0.25); line-height: 24px; padding:2px 2px 0px; margin-bottom: 5px;}

// CALENDAR
#month-list {margin-bottom: 25px;}
th, td {padding: 2px;}
.month-label {padding: 15px 20px 10px; font-size: 18px;}
.active-month {background-image: url('../assets/circled-event-1.png'); background-size: 100% 100%; background-repeat: no-repeat; background-position: center center;}
td {width: 100px; height: 100px; }
.date-cell { height: 100%; width: 100%; padding: 5px;}
.dead-date {opacity: 0.25; height: 100%; width: 100%;}

.cal-color-1 {background-color: var(--color-1);}
.cal-color-2 {background-color: var(--color-2);}
.cal-color-3 {background-color: var(--color-3);}

.hidden-calendar-table {display: none;}
.active-calendar-table {display: block!important;}

// CONTACT PAGE
.contact-header {width: 100vw; margin-top: 100px;  height: 800px; background-image: url('../assets/soho-v2.png'); background-size: contain; background-repeat: no-repeat}
.contact-details {width: 50vw;  padding-top: 400px; }

// Press page
.flex-container {
  display: flex;
  flex-direction: wrap;
  font-size: 30px;
  text-align: center;
}
.flex-item {flex: 30vw; margin: 0.5%;}

@media (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }
}


// BLOCKQUOTE 
.quote-block {display: flex; align-items: center; justify-content: center;}
.sqs-block-quote .sqs-block-content { max-width: 600px; margin: 25px 0px;}
blockquote span {display: none;}
.quote-block .sqs-block-content figure {background-image: url(''); background-size: 100% 100%; background-position: center center; background-repeat: no-repeat; }
blockquote {font-family: 'Reckless-Reg', sans-serif; font-weight: 600;  font-size: 22px; padding:3.5rem; text-align: center; }
figcaption {display: none;}

@media screen and (max-width: 750px)  {
  blockquote {font-size: 18px; padding: 3rem 2.5rem;}
}

// GALLERY
.sqs-gallery-controls {
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;

}
[class*="sqs-col"] .sqs-block {padding: 0;}
.spacer-block {padding: 30px!important;}
.sqs-gallery-controls .previous {
  position:relative; background-color: rgba(0,0,0,0); 
  width: 75px; margin: 0px 10px;
}
.show-hover-effect:hover {transition: none;}
.previous:hover {cursor: pointer; transform: scale(1.1); background-color: rgba(0,0,0,0)!important; }
.next:hover {cursor: pointer; transform: scale(1.1); background-color: rgba(0,0,0,0)!important;}
.sqs-gallery-controls .next { width: 75px; margin: 0px 10px;
  position:relative; background-color: rgba(0,0,0,0); transition: 'background-color 200ms linear';
}
.previous {order: 1; }
.next {order: 2;}

.sqs-gallery-meta-container { 
 height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sqs-block-gallery {min-height: 550px; }
.sqs-block-gallery .sqs-intrinsic {padding-bottom: 70%!important; margin-bottom: 75px;}
.sqs-image-shape-container-element img {object-fit: unset!important; width: auto!important;}


.sqs-gallery-controls .next::before {
  content: url('../assets/next.png');
}
.sqs-gallery-controls .previous::before {
  content: url('../assets/prev.png');
}

@media screen and (max-width: 750px)  {
  .sqs-block-gallery .sqs-intrinsic {padding-bottom: 100%!important;  margin-bottom: 0px;}
  .sqs-block-gallery {min-height: 450px;}
}

// FOOTER
footer { padding: 25px;}
#de-link {font-size: 12px; font-family: 'Reckless-Reg', sans-serif;  color: rgba(0,0,0,0.75); text-decoration: none; margin: 10px 0px; text-transform:none}
footer p {font-size: 16px; margin: 10px 0px 0px 0px;}

// ANIMATIONS 
.fade-in-left{-webkit-animation:fade-in-left .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-left .6s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in-left{
  0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}
  100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
}

  @keyframes fade-in-left{
    0%{-webkit-transform:translateX(-50px);transform:translateX(-50px);opacity:0}
    100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
  }

  .fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
  /* ----------------------------------------------
 * Generated by Animista on 2023-7-16 21:42:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}